.contact {
    background-color: $color_white;
    display: flex;
    justify-content: center;
    min-width: 200px;
    margin: auto;
    height: calc(100vh - 40vh);

    &__img {
        display: block;
        width: 100%;
        height: auto;
    }
}
