.customers {
    background-color: $color_white;

    &__header {
        font-size: 36px;
        font-weight: 700;
        letter-spacing: $letter_spacing;
        text-align: center;
        line-height: 1.17;
        padding-bottom: 50px;
    }

    &__list {
        display: flex;
        gap: 30px;
    }

    &__item {
        width: 170px;
        height: 92px;
        border: $border;
        border-radius: 4px;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        fill: $svg_grey_fill;

        &:hover,
        &:focus {
            fill: $color_blue;
            border-color: $color_blue;
            transition: color 250ms;
            transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
        }
    }
}
