.customers {
    background-color: $color_white;
    display: flex;
    justify-content: center;

    &__header {
        font-size: 28px;
        font-weight: 700;
        letter-spacing: $letter_spacing;
        text-align: center;
        line-height: 1.17;
        padding-bottom: 50px;
    }

    &__list {
        display: flex;
        gap: 30px;
        flex-wrap: wrap;
        justify-content: space-around;
    }

    &__item {
        width: 200px;
        height: 92px;
        border: $border;
        border-radius: 4px;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        fill: $svg_grey_fill;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

        &:hover,
        &:focus {
            fill: $color_blue;
            border-color: $color_blue;
            transition: color 250ms;
        }
    }
}

@media screen and (min-width: 768px) {
    .customers {
        margin: auto;
        &__item {
            max-width: 226px;
        }
    }
}

@media screen and (min-width: 1200px) {
    .customers {
        &__header {
            font-size: 36px;
        }
        &__item {
            max-width: 170px;
        }

        &__list {
            display: flex;
            gap: 30px;
            flex-wrap: wrap;
            justify-content: space-around;
        }
    }
}
