.footer {
    background-color: $footer_bg;
    padding-top: 60px;
    padding-bottom: 60px;

    &__page {
        text-align: center;
        font-style: normal;
        font-size: 14px;
        line-height: 1.7;
        vertical-align: top;
        margin-top: 20px;
    }

    &__contact {
        display: flex;
        flex-direction: column;
    }

    &__logo {
        justify-content: center;
        flex-direction: row;
    }

    &__logo-web {
        color: $color_blue;
    }

    &__logo-studio {
        color: $color_white;
    }

    &__adress {
        color: $color_white;
        font-size: 14px;
        vertical-align: top;
        letter-spacing: $letter_spacing;
        font-style: normal;
        padding-bottom: 9px;
        padding-top: 20px;
        justify-content: center;
    }

    &__list {
        list-style-type: none;
        display: flex;
        flex-direction: column;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

        a:hover {
            color: $color_blue;
            transition: color 250ms;
        }
        a:focus {
            color: $color_blue;
            transition: color 250ms;
        }
    }

    &__list li {
        padding-bottom: 9px;
    }

    &__list a {
        text-decoration: none;
        color: rgba(255, 255, 255, 0.6);
        font-style: normal;
        letter-spacing: $letter_spacing;
        font-size: 14px;
    }

    &__socialmedia-title {
        font-weight: 700;
        line-height: 1.14;
        letter-spacing: $letter_spacing;
        text-transform: uppercase;
        color: $color_white;
        text-align: center;
        display: block;
        padding-bottom: 20px;
        padding-top: 60px;
    }

    &__socialmedia-list {
        display: flex;
        gap: 10px;
        justify-content: center;
    }

    &__socialmedia-item {
        width: 44px;
        height: 44px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50px;
        fill: $color_white;
        background: $footer_bg_socialmedia;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
        transition: color 250ms;

        &:hover,
        &:focus {
            fill: $color_white;
            background-color: $color_blue;
            box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.3) inset;
            cursor: pointer;
        }
    }

    &__newsletter-title {
        font-weight: 700;
        line-height: 1.14;
        letter-spacing: $letter_spacing;
        text-transform: uppercase;
        color: $color_white;
        padding-bottom: 20px;
        text-align: center;
        display: block;
        padding-top: 60px;
    }

    &__newsletter-form {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    &__newsletter-email {
        width: 100%;
        max-width: 450px;
        height: 50px;
        padding-left: 22px;
        background-color: $footer_bg;
        color: $color_white;
        border: $footer_border;
        box-shadow: $footer_shadow;
        border-radius: 4px;
        transition: transform 250ms ease-in, box-shadow 250ms ease-in;

        &::placeholder {
            color: $footer_placeholder;
            font-size: 16px;
        }

        &:focus {
            outline: none;
            border: 2px solid;
            border-color: $color_blue;
        }
    }

    &__newsletter-button {
        width: 100%;
        max-width: 200px;
        height: 50px;
        justify-content: center;
        margin-top: 20px;
        margin-left: auto;
        margin-right: auto;
        background-color: $color_blue;
        border: none;
        border-radius: 4px;
        color: $color_white;
        font-weight: 700;
        font-size: 16px;
        display: flex;
        align-items: center;
        letter-spacing: $letter_spacing_big;
        transition: transform 750ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
        cursor: pointer;
    }

    &__newsletter-icon {
        width: 24px;
        height: 24px;
        margin-left: 20px;
        fill: $color_white;
        transition: transform 1000ms ease-out;
    }

    &__newsletter-button:hover &__newsletter-icon {
        transform: translate(35px, -10px) scale(0.9);
    }
}

#fooder__logo a {
    text-decoration: none;
    font-family: Raleway;
    font-size: 26px;
    font-weight: 700;
}

@media screen and (min-width: 768px) {
    .footer {
        &__page {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
        }

        &__contact {
            width: calc((100vw - 30px) / 2);
            max-width: 529px;
        }

        &__socialmedia {
            width: calc((100vw - 30px) / 2);
            max-width: 529px;
        }

        &__socialmedia-title {
            padding-top: 10px;
        }

        &__newsletter {
            width: calc((100vw - 30px) / 2);
            max-width: 529px;
        }

        &__newsletter-form {
            display: flex;
            flex-direction: column;
            justify-content: center;
        }

        &__newsletter-button {
            height: 50px;
        }
    }
}

@media (min-width: 1200px) {
    .footer {
        &__page {
            flex-wrap: nowrap;
            justify-content: space-between;
        }

        &__contact {
            text-align: left;
            width: auto;
        }

        &__socialmedia {
            width: auto;
            text-align: left;
        }

        &__socialmedia-title {
            padding-top: 12px;
            text-align: left;
        }

        &__socialmedia-list {
            justify-content: start;
        }

        &__newsletter {
            width: auto;
            text-align: left;
        }

        &__newsletter-title {
            text-align: left;
            padding-top: 12px;
        }

        &__newsletter-form {
            display: flex;
            flex-direction: row;
            gap: 12px;
        }

        &__newsletter-email {
            width: 358px;
        }

        &__newsletter-button {
            width: 200px;
            height: 50px;
            margin-top: 0;
        }

        &__newsletter-icon {
            margin-left: 27px;
        }

        &__newsletter-button:hover &__newsletter-icon {
            transform: translate(20px, -10px) scale(0.9);
        }
    }
}
