@media (min-width: 768px) {
    .mobile-header {
        display: none;
    }
}

.mobile-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 10px;
    padding-bottom: 10px;
}
