.slider {
    background: $slider_bg;
    background-image: linear-gradient($slider_bg, $slider_bg),
        url(../images/background-image-mobile.jpg);
    @media (min-device-pixel-ratio: 2),
        (-webkit-min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
        .slider {
            background-image: url(../images/background-image-mobile@2x.jpg);
        }
    }

    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 118px;

    &__solution {
        text-align: center;
    }

    &__solution-header {
        color: $color_white;
        font-weight: 700;
        font-size: 26px;
        letter-spacing: $letter_spacing_big;
        text-transform: uppercase;
    }

    &__solution-button {
        border: none;
        background-color: $color_blue;
        font-weight: 700;
        font-size: 16px;
        line-height: 1.9;
        text-align: center;
        letter-spacing: $letter_spacing_big;
        cursor: pointer;
        color: $color_white;
        box-shadow: $slider_shadow;
        border-radius: 4px;
        margin-top: 30px;
        margin-left: auto;
        margin-right: auto;
        padding: 10px 42px;
    }
}

@media only screen and (min-width: 768px) {
    .slider {
        background-image: linear-gradient($slider_bg, $slider_bg),
            url(../images/background-image-tablet.jpg);
        @media (min-device-pixel-ratio: 2),
            (-webkit-min-device-pixel-ratio: 2),
            (min-resolution: 192dpi),
            (min-resolution: 2dppx) {
            .slider {
                background-image: url(../images/background-image-tablet@2x.jpg);
            }
        }

        padding-top: 200px;
        padding-bottom: 200px;
    }
}

@media screen and (min-width: 1200px) {
    .slider {
        background-image: linear-gradient($slider_bg, $slider_bg),
            url(../images/background-image.jpg);
        @media (min-device-pixel-ratio: 2),
            (-webkit-min-device-pixel-ratio: 2),
            (min-resolution: 192dpi),
            (min-resolution: 2dppx) {
            .slider {
                background-image: url(../images/background-image@2x.jpg);
            }
        }

        &__solution-header {
            font-weight: 900;
            font-size: 44px;
        }
    }
}
