$color_white: #ffffff;
$color_black: #000000;
$color_blue: #2196f3;
$color_grey: #757575;
$letter_spacing: 0.03em;
$letter_spacing_big: 0.06em;
$svg_grey_fill: #afb1b8;
$border: 1px solid #afb1b8;
$feature_svg_bg: #f5f4fa;
$modal_bg: rgba(0, 0, 0, 0.2);
$modal_border_agreement: 1px solid rgba(0, 0, 0, 0.5);
$modal_shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
$modal_border: 1px solid rgba(33, 33, 33, 0.2);
$modal_button_border: 1px solid rgba(0, 0, 0, 0.1);
$modal_button_shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
$header_border: 1px solid #ececec;
$footer_bg: #2f303a;
$footer_bg_socialmedia: rgba(255, 255, 255, 0.1);
$footer_border: 1px solid rgba(255, 255, 255, 0.3);
$footer_shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
$footer_placeholder: rgba(255, 255, 255, 0.5);
$slider_bg: rgba(47, 48, 58, 0.4);
$slider_shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
$team_bg: #f5f4fa;
$team_shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
$whatwedo_bg: rgba(47, 48, 58, 0.4);
$portfolio_button_bg: #f5f4fa;
$portfolio_figcaption_border: 1px solid #eeeeee;
$portfolio_button_shadow: 0px 3px 1px rgba(0, 0, 0, 0.1),
    0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
$portfolio_figure_shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.12),
    0px 4px 4px 0px rgba(0, 0, 0, 0.06), 1px 4px 6px 0px rgba(0, 0, 0, 0.16);
